.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.is-error{
  background-color: #ff00004b;
}

.is-success{
  background-color: #6eca528e;
}

.message{
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
}

.message button{
  height: 20px;
  border: none;
  background-color:#7fffd4fb;
  cursor: pointer;
}

.todo{
  display: flex;
  height: 40px;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  background: rgba(1, 8, 14, 0.22);
  margin: 10px 0;
  padding: 2px 6px;
}

.todo p{
  text-transform: capitalize;
}
.todo button{
  /* height: 70%; */
  color: #fff;
  background-color: red;
  border: none;
}

.todo-wrp{
  max-height: 70vh;
  overflow-y: scroll;
  width: 100%;
}

.todo-wrp-main{
  overflow-y: scroll;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.clear{
  width: 7rem;
  height: 30px;
  border: none;
  background-color: #ff0000;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 22px;
}

.add-task{
  display: flex;
}

.add-task input{
  height: 20px;
  margin-right: 5px;
}

.add-task button{
  background-color: rgb(14, 161, 112);
  color: #fff;
  font-size: 18px;
  border: none;
  width: 30px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
